* {
    margin: 5px;
}

/* Navigation */

.nav-container {
    background: #FFFFFF;
    height: 90px;
}

nav {
    display:flex;
    justify-content: space-between;
    font-family: "Mulish";
    font-size: 30px;
    color: black;
    text-decoration: none;
}


span {
    margin: 0;
}
  
  .topnav {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
  }

.topnav a {
    float: left;
    display: block;
    justify-content: space-between;
    text-align: center;
    padding: 14px 16px;
    font-family: "Mulish";
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    color:#64BFBA;
  }
  
  .topnav a.active {
    color: black;
  }
  
  .topnav .icon {display:none;}
  
  .topnav div:not(.sub-menu-show) {display: none;}


  .topnav.responsive div {
    float: none;
    display: block;
    text-align: left;
  }
.topnav.responsive.sub-menu-active {
    -moz-transition:ease-in-out 300ms;
    -webkit-transition:ease-in-out 300ms;
    transition:ease-in-out 300ms; 
}



.topnav .icon {display:none;}

.topnav div:not(.sub-menu-show) {display: none;}


.topnav.responsive div {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive.sub-menu-active {
  -moz-transition:ease-in-out 300ms;
  -webkit-transition:ease-in-out 300ms;
  transition:ease-in-out 300ms; 
}

/* Header Content */

.hero-content {
    display:flex;
    align-items: column;
    justify-content: center;
}

header h2 {
    position: relative;
    text-align:center;
    padding-right: 8%;
    font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
}

header p1 {
    flex-wrap: nowrap;
    align-self: center;
    display: block;
    max-width: 55%;
    justify-content: center;
    padding-left: 23%;
font-family: "Mulish";
font-style: italic;
font-weight: 200;
font-size: 20px;
line-height: 30px;
color: #000000;
}

header p2 {
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    display: block;
    margin: 18px;
    padding-left: 23%;
font-family: "Mulish";
font-style:oblique;
font-weight: 300;
font-size: 20px;
line-height: 70px;
color: #000000;
}

header p3 {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    max-width: 90%;
    padding-left: 20%;
    padding-right:15%;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
color: #000000;

}



/* My UX Skills section coded using CSS flex */



.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    justify-content:center;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: auto;
    margin-top: 50px;
}

section h1 {
    justify-content: center;
    display:flex;
    padding-left: 80px;
    padding-right: 90px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
color: #000000;
}







/* Media Query */


@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        right: 0;
        top: 0;
    }

    .topnav a.icon {
        float: right;
        display: block;
        -moz-transition:ease-in-out 300ms;
        -webkit-transition:ease-in-out 300ms;
        transition:ease-in-out 300ms; 
      }
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        right: 0;
        top: 0;
        -moz-transition:ease-in-out 300ms;
        -webkit-transition:ease-in-out 300ms;
        transition:ease-in-out 300ms; 
        transform:rotate(90deg);
      }

      .sub-menu {
        min-width: 330px;
        min-height: 250px;
        top: -250px;
        background-color: #74DAE0;
        border: 2px solid #64BFBA;
        border-radius: 164px;
        z-index: 0;
        position: absolute;
        transform: translate(100px, 200px);
    }
    
    .topnav.responsive div {
      float: none;
      display: block;
      text-align: left;
    }
    
   .topnav .links {display: none;}

}










.circle-img {
    position: absolute;
    left: 20%;
    margin-top: 10%;

}

